body{
    background-color: #d3d3d3;
    height:100%;

}


.headings{
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #4aaaa5;
}
.nav{

    border-color: gray;
    border-right:solid;
    vertical-align: middle;
    ;
    
    
    

}
header{ 
    
    

    background-color:#ffffff;
    border-bottom: solid ;
    border-width: 100% ;
    border-color: #cccccc ;
    font-family: 'Georgia', 'Times New Roman', Times, serif ;
    text-align:right;
    height: 110px;
    margin-bottom: 50px;
    
    
    

}
.pic{
padding-right:5px;
padding-bottom: 5px;
}

h1{

    width: 200px;
    padding:20px;
    margin-left: 300px;
    float: left;
    margin-top: 0px
    
    
    
}
h2 {
    color:#4aaaa5;
    width: 200px
    ;

}

.box{
    background-color: #ffffff;
    border-color: #dddddd;
    border-width: 50px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color:#777777;



    
}
.box1 {
    bottom: 200px;
    left: 200px;
    padding:15px;
    width:960px;
    margin: auto;
    
    



}
.box2{
    bottom: 200px;
    left: 200px;
    padding: 15px;
    width:960px;
    margin: auto;
}
footer{
    height:5%;
    background-color: #666666;
    border-top: 5px solid;
    border-color:#4aaaa5;
    bottom:0px ;
    color:white;
    width:100%;
    text-align: center;
    position: fixed;
    margin-top: 50px
}
.footer{



}
.box3{
background-color: #ffffff;
padding:25px;
margin:auto;
width: 960px;
}

.text1{size:130
    
}
.text2{size:130

}
.text3{size:130;
padding:50px
;
}
.phototitles{
    background-color: #4aaaa5;
    padding: 30px;
    width: 115px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color:white
    

}
.photo1{
    float: left;
    
}
.div1{
    vertical-align: middle
}
.image1{

    
}
/* Container holding the image and the text */
.container1 {
    position: relative;
    text-align: left;
    color: black;
    margin-bottom: 20px;
    margin-left:20px;
    margin-top:50px
}
.container2 {
    position: absolute;
    left :50%;
    top:307px;
    color: black;
}
.container3 {
    position: relative;
    text-align: left;
    color: black;
    margin-top:20px;
    margin-left:20px;
}
.container4 {
    position: absolute;
    left:50%;
    top:430px;
    color: black;
    margin-top:50px;
}
.container5 {
    position: relative;
    text-align: left;
    color: black;
    margin-top:20px;
    margin-left:20px;
}



/* Centered text */
.number1{
    position: absolute;
    top: 72%;
    left: 10.7%;
    transform: translate(-50%, -50%);
    width: 200px;
    height:40px;
    background-color: #4aaaa5
}
.number2 {
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height:40px;
    background-color: #4aaaa5
}
.number3 {
    position: absolute;
    top: 72%;
    left: 10.7%;
    transform: translate(-50%, -50%);
    width: 200px;
    height:40px;
    background-color: #4aaaa5
}
.number4 {
    position: absolute;
    top: 72%;
    left: 100px;
    transform: translate(-50%, -50%);
    width: 200px;
    height:40px;
    background-color: #4aaaa5
}
.number5 {
    position: absolute;
    top: 72%;
    left: 10.7%;
    transform: translate(-50%, -50%);
    width: 200px;
    height:40px;
    background-color: #4aaaa5
}
.button1{
    background-color: #4aaaa5;
    border: none;
    color: white;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}





@media screen and (max-width: 980px){
h1{
    
    margin-left: 5%


}
.box1{
    width:50%;
    margin-left: 5%;
}
.box3{
    width: 500px;
    margin-left: 5%
}
.box2{
    width: 550px;
    margin-left: 5%;

}
h3{
    width: 100px;
}

@media screen and (max-width: 768px){
    h1{ margin-left: 5%}
    .box1{width: 650px;
    }
    .box3{
        width: 650px;
        margin-left: 5%
        
    }
    .box2{width: 650px;
    margin-bottom: 50px
    }
    
    
    }
}
@media screen and (max-width: 640px){

    h1{
        position: static;
        width: 100%;
        top: 0%;
        margin-left: 0px;
        text-align: center;
        
    }
    .box1{
        width: 475px;
        left: 0px;
        margin-bottom: 10%
    }
    header{
        text-align: center;
        width: 100%;
        height: 15%
    
    }
    .text1{size:50}
    .box3{
        width: 475px
    }
    .box2{width: 475px}
    }